html,
body {
  background-color: #2B2F38;
  height: 100%;
  font-family: "Microsoft yahei";
  font-size: 14px;
}
.LubanLD-container {
  width: 100%;
  height: 100%;
}
.LubanLD-container header {
  height: 70px;
  background-color: #2B2F38;
  padding: 0 2px 0 10px;
  position: relative;
  z-index: 10;
}
.LubanLD-container header .LubanLD-user {
  padding: 12px 0 0;
  font-size: 0;
}
.LubanLD-container header .LubanLD-user .LubanLD-head {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
.LubanLD-container header .LubanLD-user .LubanLD-head .LubanLD-pic {
  display: inline-block;
}
.LubanLD-container header .LubanLD-user .LubanLD-head .LubanLD-pic img {
  border-radius: 50%;
}
.LubanLD-container header .LubanLD-user .LubanLD-username {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  margin-top: 17px;
}
.LubanLD-container header .LubanLD-user .LubanLD-username .name {
  margin-right: 10px;
}
.LubanLD-container header .main-navbar {
  width: 540px;
  padding: 0;
  box-sizing: border-box;
}
.LubanLD-container header .main-navbar .btn-control {
  margin-left: 7.2%;
  font-size: 0;
  height: 60px;
  padding-top: 10px;
}
.LubanLD-container header .main-navbar .btn-control .btn-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-meter,
.LubanLD-container header .main-navbar .btn-control .btn-analysis {
  display: inline-block;
  margin: 0px 45px 0px 0;
  width: 50px;
  height: 60px;
  position: relative;
  color: #fff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.LubanLD-container header .main-navbar .btn-control .btn-projectmng.active,
.LubanLD-container header .main-navbar .btn-control .btn-changemng.active,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess.active,
.LubanLD-container header .main-navbar .btn-control .btn-meter.active,
.LubanLD-container header .main-navbar .btn-control .btn-analysis.active {
  text-decoration: none;
}
.LubanLD-container header .main-navbar .btn-control .btn-projectmng.active::after,
.LubanLD-container header .main-navbar .btn-control .btn-changemng.active::after,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess.active::after,
.LubanLD-container header .main-navbar .btn-control .btn-meter.active::after,
.LubanLD-container header .main-navbar .btn-control .btn-analysis.active::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #FED928;
  position: absolute;
  left: 11px;
  bottom: 0px;
}
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-projectmng,
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-changemng,
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-analysis,
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-analysis,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-analysis,
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-analysis,
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-analysis,
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-qualityAssess,
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-meter,
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-meter,
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-meter,
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-meter,
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-meter {
  display: inline-block;
  width: 32px;
  height: 30px;
  margin-bottom: 5px;
  -webkit-background-size: 32px 30px;
  background-size: 32px 30px;
}
.LubanLD-container header .main-navbar .btn-control .btn-projectmng .logo-projectmng {
  background: url(../imgs/icon-nav.png) 0 0 no-repeat;
}
.LubanLD-container header .main-navbar .btn-control .btn-changemng .logo-changemng {
  background: url(../imgs/icon-nav.png) -32px 0 no-repeat;
}
.LubanLD-container header .main-navbar .btn-control .btn-qualityAssess .logo-qualityAssess {
  background: url(../imgs/icon-nav.png) -64px 0 no-repeat;
}
.LubanLD-container header .main-navbar .btn-control .btn-meter .logo-meter {
  background: url(../imgs/icon-nav.png) -96px 0 no-repeat;
}
.LubanLD-container header .main-navbar .btn-control .btn-analysis .logo-analysis {
  background: url(../imgs/icon-nav.png) -128px 0 no-repeat;
}
.LubanLD-container header .window-state {
  font-size: 0;
  cursor: default;
  width: 180px;
  position: absolute;
  top: 25px;
  right: 10px;
}
.LubanLD-container header .window-state .min_window,
.LubanLD-container header .window-state .max_window,
.LubanLD-container header .window-state .close_window {
  width: 28px;
  height: 20px;
  transition: all 0.2s ease-out;
}
.LubanLD-container header .window-state .min_window {
  margin-right: 6px;
  margin-left: 28%;
  background: url(../imgs/icon-window.png) -1px 1px no-repeat;
}
.LubanLD-container header .window-state .min_window:hover {
  background: url(../imgs/icon-window.png) -2px -23px no-repeat;
}
.LubanLD-container header .window-state .max_window {
  margin-right: 6px;
  background: url(../imgs/icon-window.png) -33px 0 no-repeat;
}
.LubanLD-container header .window-state .max_window:hover {
  background: url(../imgs/icon-window.png) -34px -23px no-repeat;
}
.LubanLD-container header .window-state .close_window {
  background: url(../imgs/icon-window.png) -64px 0 no-repeat;
}
.LubanLD-container header .window-state .close_window:hover {
  background: url(../imgs/icon-window.png) -65px -23px no-repeat;
}
.LubanLD-container .main-container {
  width: 100%;
  height: 100%;
  margin-bottom: 2px;
}
.LubanLD-container .main-container .menu-nav {
    overflow: hidden;
    float: left;
    margin-left: 1px;
    background-color: #fff;
    left: 0;
    width: 17%;
    bottom: 0px;
    position: absolute;
    top: 70px;
}
.LubanLD-container .main-container .menu-nav .contract-manage {
  background-color: #EDEEF0;
  height: 100%;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap {
  height: 40px;
  padding-top: 10px;
  background-color: #fff;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select {
  margin: 0px 0 0 12px;
  font-size: 12px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .menu {
  width: 120px;
  height: 20px;
  padding: 0;
  position: relative;
  border: 0 none;
  cursor: pointer;
  background-color: #fff;
  text-align: left;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .menu:focus {
  outline: none !important;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .menu .menu-name {
  font-weight: 700;
  font-size: 14px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .menu .arrow {
  position: absolute;
  right: 4px;
  top: 5px;
  z-index: 10;
  width: 16px;
  height: 12px;
  background: url("../imgs/icon-button.png") -72px -32px no-repeat;
  transition: all 0.5s ease-out;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .dropdown-menu {
  padding: 0;
  margin: 0;
  font-size: 12px;
  min-width: 100px;
  border: 0 none;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-wrap .contract-select .dropdown-menu li a {
  padding: 3px 5px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search {
  height: 40px;
  border: 1px solid #DADBDF;
  padding: 3px;
  position: relative;
  font-size: 0;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .input-search {
  width: 100%;
  height: 32px;
  font-size: 11px;
  padding-left: 6px;
  /*color: #B3B3B3;
  border-radius: 4px;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;*/
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .input-search:focus {
  outline: none;
  border: 1px solid rgba(93, 135, 209, 0.9);
  box-shadow: 0px 1px 1px #5D87D1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .btn-wrap,
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .clear {
  width: 28px;
  height: 30px;
  position: absolute;
  top: 4px;
  padding: 6px 5px;
  cursor: pointer;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .btn-wrap {
  right: 3px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .btn-wrap .btn-search {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../imgs/icon-button.png") -36px -9px no-repeat;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .clear {
  right: 25px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .contract-search .clear .btn-close {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../imgs/icon-button.png") -54px -9px no-repeat;
}
.LubanLD-container .main-container .menu-nav .contract-manage .left-list{
  height: calc(100vh - 150px);
}
.LubanLD-container .main-container .menu-nav .contract-manage .left-list li {
  width: 200px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .left-list .project-name {
  height: 46px;
  font-size: 0;
  padding-left: 4px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .left-list .project-name .icon-project {
  display: inline-block;
  width: 16px;
  height: 15px;
  background: url("../imgs/icon-button.png") -1px -10px no-repeat;
  margin-right: 8px;
}
.LubanLD-container .main-container .menu-nav .contract-manage .left-list .project-name span {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 46px;
  vertical-align: baseline;
}
.LubanLD-container .main-container .menu-nav .contract-manage .left-list .contract-name {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: 700;
  padding-left: 22px;
  border-left: 2px solid #EDEEF0;
  border-top: 1px solid #EDEEF0;
  border-bottom: 1px solid #EDEEF0;
}
.LubanLD-container .main-container .menu-nav .contract-manage .left-list .contract-name.active {
  border-top: 1px solid #DADBDD;
  border-bottom: 1px solid #DADBDD;
  border-left: 2px solid #FED928;
}
.LubanLD-container .main-container .menu-nav .btn-wrapper {
    position: absolute;
    top: 50%;
    right: 0%
}
.LubanLD-container .main-container .menu-nav .btn-wrapper .btn-slide {
    width: 6px;
    height: 79px;
    background: url(../imgs/icon-button.png) -184px -34px no-repeat;
    z-index: 100;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.LubanLD-container .main-container .menu-nav .btn-wrapper .btn-arrow {
  position: absolute;
  z-index: 101;
  width: 6px;
  height: 12px;
  background: url(../imgs/icon-button.png) -114px -31px no-repeat;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-out;
}
.LubanLD-container .main-container .content-wrapper {
    background-color: #fff;
    position: absolute;
    left: 17%;
    bottom: 0;
    top: 70px;
    width: 83%;
}
.LubanLD-container .main-container .content-wrapper .top-navbar {
  height: 40px;
  background-color: #99A1AE;
  font-size: 0;
  padding-left: 5px;
}
.LubanLD-container .main-container .content-wrapper .top-navbar .tab {
  margin-top: 4px;
  display: inline-block;
  width: 110px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  line-height: 36px;
  height: 36px;
  margin-right: 3px;
}
.LubanLD-container .main-container .content-wrapper .top-navbar .tab:last-child {
  margin-right: 0;
}
.LubanLD-container .main-container .content-wrapper .top-navbar .tab.active {
  background-color: #fff;
  color: #000;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  text-decoration: none;
}
.LubanLD-container .main-container .content-wrapper .top-navbar .tab.active span {
  font-weight: 700;
}
.LubanLD-container .main-container .content-wrapper .contract-content {
  width: 100%;
  padding: 4px 4px 5px 3px;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content {
  border: 1px solid #E6E6E6;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-name {
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  font-weight: 700;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate {
  font-size: 0;
  margin-bottom: 20px;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate button {
  font-size: 12px;
  background-color: #BDC4CE;
  border: 0 none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 6px 9px 7px 18px;
  margin-right: 20px;
  color: #fff;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate button:hover {
  background-color: #99A1AE;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate button:focus {
  outline: none !important;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate button:last-child {
  margin-right: 0;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate button.delete-contract {
  background-color: #fff;
  border: 0 none;
  border: 2px solid #99A1AE;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 5px 8px 6px 17px;
  color: #99A0B0;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-operate button.delete-contract:hover {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #99A1AE;
  color: #fff;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment {
  padding: 20px 30px 0px 30px;
  margin-bottom: 15px;
  height: 130px;
  border: 1px solid #DBDEE7;
  border-left: 0;
  border-right: 0;
  position: relative;
  font-size: 0;
  overflow: hidden;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .arrow-left,
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .arrow-right {
  position: absolute;
  width: 18px;
  height: 44px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  background: url("../imgs/icon-button.png") no-repeat;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .arrow-left {
  left: 0;
  background-position: -74px -46px;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .arrow-right {
  right: 0;
  background-position: -92px -46px;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate {
  width: 140px;
  display: inline-block;
  text-align: center;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .ico-pdf {
  display: inline-block;
  width: 43px;
  height: 48px;
  background: url("../imgs/icon-pdf.png") -27px -1px;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-name {
  font-size: 12px;
  margin: 10px 0;
  color: #323232;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .download,
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .preview {
  outline: none;
  border: 0 none;
  width: 50px;
  height: 20px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  color: #A5ACBC;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .download:hover,
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .preview:hover {
  background-color: #dde3ef;
  color: #5D87CF;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .download:hover .ico-download,
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .preview:hover .ico-download {
  background: url("../imgs/icon-button.png") -17px -28px no-repeat;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .download:hover .ico-preview,
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .preview:hover .ico-preview {
  background: url("../imgs/icon-button.png") -55px -28px no-repeat;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .download {
  font-size: 0;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .download .ico-download {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../imgs/icon-button.png") 0 -28px no-repeat;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .download .txt-download {
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
  vertical-align: top;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .preview {
  font-size: 0;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .preview .ico-preview {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../imgs/icon-button.png") -36px -28px no-repeat;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .attachment .wrapper .attachment-operate .attachment-btn .preview .txt-preview {
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-data {
  padding-top: 18px;
  width: 100%;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-data .table-list .table div {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 35px;
}
.LubanLD-container .main-container .content-wrapper .contract-content .content .contract-data .table-list .table .bold {
  font-weight: 700;
}
/*合同名称样式*/
.contract-name {
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  font-weight: 700;
}
/*输入框border样式*/
.input-border {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.input-border:hover{
  border: 1px solid #FED928;
}
/*表格样式开始*/
.aline{
  height: 40px;
  border-bottom: 1px solid #DADBDF;
}
.aline:hover{
  background-color: #E0E0E0;

}
.ttitle,.thead,.tbody{
  height: 40px;
  line-height: 40px;
}
.ttitle,.thead{
  font-weight: 700;
}
.ttitle{
  border-radius: 5px 5px 0 0;
  background-color: #e6e6e6;
}
.thead{
  background-color: #E0E0E0;
}
.thead,.tbody{
  float: left;
}
.tbody{
  padding-left: 10px;
  background-color: transparent;
}
/*表格样式结束*/
/*上下三角样式开始*/
.triangle-up,.triangle-down {
  width: 3px;
  height: 3px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  cursor: pointer;
  float: left;
  position: relative;
}
.triangle-up {
  border-bottom: 6px solid #000;
  top: 14px;
}
.triangle-down {
  border-top: 6px solid #000;
  top: 22px;
}
/*上下三角样式结束*/
/*分页样式开始*/
.page{
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../imgs/icon-button.png") no-repeat;
}
.first{
  background-position: 0px -46px;
}
.previous{
  background-position: -19px -46px;
}
.next{
  background-position: -37px -46px;
}
.last{
  background-position: -54px -46px;
}
.first:hover{
  background-position: 0px -68px;
}
.previous:hover{
  background-position: -19px -68px;
}
.next:hover{
  background-position: -37px -68px;
}
.last:hover{
  background-position: -54px -68px;
}
.first:active{
  background-position: 0px -90px;
}
.previous:active{
  background-position: -19px -90px;
}
.next:active{
  background-position: -37px -90px;
}
.last:active{
  background-position: -54px -90px;
}
/*分页样式结束*/
/*按钮样式*/
.button{
  font-size: 12px;
  background-color: #BDC4CE;
  border: 0 none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-right: 20px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  min-width: 87px;
}