<!-- 工程管理-工程划分-合同段数据展示页面 -->
<div class="content">
    <div class="contract-name">合同1</div>
    <!-- 搜索框 -->
    <div class="contract-search1">
        <input type="text" class="input-search input-border" placeholder="快速搜索合同">
        <a class="clear">
            <i class="btn-close"></i>
        </a>
        <a class="btn-wrap">
            <i class="btn-search"></i>
        </a>
    </div>
    <div class="division_content">
        <div class="ttitle" style="text-align: center;">工程划分</div>
        <div class="thead" style="width: 10%">序号
            <div class="triangle-up" style="left: 43px;"></div>
            <div class="triangle-down" style="left: 37px;"></div>
        </div>
        <div class="thead" style="width: 19%">单位工程
            <div class="triangle-up" style="left: 75px;"></div>
            <div class="triangle-down" style="left: 69px;"></div>
        </div>
        <div class="thead" style="width: 19%">分部工程
            <div class="triangle-up" style="left: 75px;"></div>
            <div class="triangle-down" style="left: 69px;"></div>
        </div>
        <div class="thead" style="width: 19%">分项工程桩号
            <div class="triangle-up" style="left: 107px;"></div>
            <div class="triangle-down" style="left: 101px;"></div>
        </div>
        <div class="thead" style="width: 19%">分项工程编号
            <div class="triangle-up" style="left: 107px;"></div>
            <div class="triangle-down" style="left: 101px;"></div>
        </div>
        <div class="thead" style="width: 14%">发起时间
            <div class="triangle-up" style="left: 75px;"></div>
            <div class="triangle-down" style="left: 69px;"></div>
        </div>
        <div class="aline" style="margin-top: 40px;">
            <div class="tbody" style="width: 10%">1</div>
            <div class="tbody" style="width: 19%">路基工程</div>
            <div class="tbody" style="width: 19%">路基土石方工程</div>
            <div class="tbody" style="width: 19%">分项工程桩号</div>
            <div class="tbody" style="width: 19%">分项工程编号</div>
            <div class="tbody" style="width: 14%">发起时间</div>
        </div>
        <div class="aline">
            <div class="tbody" style="width: 10%">1</div>
            <div class="tbody" style="width: 19%">路基工程</div>
            <div class="tbody" style="width: 19%">路基土石方工程</div>
            <div class="tbody" style="width: 19%">分项工程桩号</div>
            <div class="tbody" style="width: 19%">分项工程编号</div>
            <div class="tbody" style="width: 14%">发起时间</div>
        </div>
        <div class="aline">
            <div class="tbody" style="width: 10%">1</div>
            <div class="tbody" style="width: 19%">路基工程</div>
            <div class="tbody" style="width: 19%">路基土石方工程</div>
            <div class="tbody" style="width: 19%">分项工程桩号</div>
            <div class="tbody" style="width: 19%">分项工程编号</div>
            <div class="tbody" style="width: 14%">发起时间</div>
        </div>
        <div class="aline">
            <div class="tbody" style="width: 10%">1</div>
            <div class="tbody" style="width: 19%">路基工程</div>
            <div class="tbody" style="width: 19%">路基土石方工程</div>
            <div class="tbody" style="width: 19%">分项工程桩号</div>
            <div class="tbody" style="width: 19%">分项工程编号</div>
            <div class="tbody" style="width: 14%">发起时间</div>
        </div>
    </div>
    <!--<div ng-controller="PaginationDemoCtrl">
        <span>共{{bigTotalItems}}条</span>
        &lt;!&ndash;<ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>&ndash;&gt;
        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页"></ul>
        <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>
    </div>-->
    <div style="text-align: center;margin-top: 20px;font-size: 16px;">
        <span style="margin-right: 40px;">共n条</span>
        <i class="first page"></i>
        <i class="previous page"></i>
        <input type="text" class="input-border" style="width: 30px;height: 30px;line-height: 30px;"/> / <span>n</span>
        <i class="next page"></i>
        <i class="last page"></i>
    </div>
</div>