<div class="LubanLD-user   col-xs-3">
    <div class="LubanLD-head">
        <a href="javascript:;" class="LubanLD-pic">
            <img src="imgs/pic.png" alt="" style="width: 50px;height: 50px;">
        </a>
    </div>
    <div class="LubanLD-username">
        <span class="name">张三</span>
        <span class="job">施工员</span>
    </div>
</div>
<div class="main-navbar  col-xs-7 ">
    <div class="btn-control" top-nav>
        <a href="javascript:;" class="topNav btn-projectmng active">
            <i class="logo-projectmng"></i>
            <p class="txt-projectmng">工程管理</p>
        </a>
        <a href="javascript:;" class="topNav btn-changemng">
            <i class="logo-changemng"></i>
            <p class="txt-changemng">变更管理</p>
        </a>
        <a href="javascript:;" class="topNav btn-qualityAssess">
            <i class="logo-qualityAssess"></i>
            <p class="txt-qualityAssess">质检评定</p>
        </a>
        <a href="javascript:;" class="topNav btn-meter">
            <i class="logo-meter"></i>
            <p class="txt-meter">计量支付</p>
        </a>
        <a href="javascript:;" class="topNav btn-analysis">
            <i class="logo-analysis"></i>
            <p class="txt-analysis">统计分析</p>
        </a>
    </div>
</div>
<div class="window-state  col-xs-2 ">
    <input class="min_window">
    <input class="max_window">
    <input class="close_window">
</div>