<div class="contract-manage" ng-controller="constractManageCtrl" side-operation>
    <!--下拉框-->
    <div class="contract-wrap">
        <div class="dropdown contract-select">
            <button class="menu" id="menu1" data-toggle="dropdown">
                <span class="menu-name">施工合同</span>
                <span class="arrow"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="menu1">
                <li><a href="#">施工合同</a></li>
                <li><a href="#">监理合同</a></li>
                <li><a href="#">监理实验室合同</a></li>
            </ul>
        </div>
    </div>
    <!--搜索框-->
    <div class="contract-search">
        <input type="text" class="input-search input-border" placeholder="快速搜索合同">
        <a class="clear">
            <i class="btn-close"></i>
        </a>
        <a class="btn-wrap">
            <i class="btn-search"></i>
        </a>
    </div>
    <ul class="left-list">
        <li class="project-name">
            <i class="icon-project"></i>
            <span title="">九寨沟到绵羊绵羊绵羊绵羊项目</span>
        </li>
        <li class="contract-name active">1</li>
        <li class="contract-name">2</li>
        <li class="contract-name">3</li>
        <li class="contract-name">4</li>
        <li class="contract-name">4</li>
        <li class="contract-name">4</li>
        <li class="contract-name">4</li>
    </ul>
</div>
<div class="btn-wrapper">
    <span class="btn-slide"></span>
    <span class="btn-arrow"></span>
</div>